/* form container */
.feedback-form-container{
    display: flex;
    background-color: #f4f7fe;
    height: 603px;
    width: 1040px;
    
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 89px;
    margin-top: 98.5px;
    


}

.contact-info-container{
    display: flex;
    flex-direction: column;
    background-color: #f5a023;
    color: #090909;
    height: 603px;
    width: 500px;
    row-gap: 35px;
    padding-top: 20px;
}

.contact-information-container{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

}

.reachUs-container{
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    height: 215px;
    width: 410px;
}

.description-container{
    display: flex;
    flex-direction: column;
   
    flex-wrap: wrap;
    align-content: flex-end;
    row-gap: 30px;
    height: 215px;
    width: 410px;
    
}

.svg-icon-container{
    display:flex;
    align-items: center;
}
.details-container{
    display: flex;
    flex-direction: column;
    text-align: initial;
    flex-wrap: wrap;
    /* align-content: center; */
    font-size: 14px;
    height: 45px;
    width: 303px;
}

.details1-container{
    display: flex;
    flex-direction: column;
    text-align: initial;
    flex-wrap: wrap;
    /* align-content: center; */
    font-size: 14px;
    /* height: 45px; */
    width: 303px;
}

.email-container{
    display: flex;
    column-gap: 20px;
}

.phone-container{
    display: flex;
    column-gap: 20px;
}

.location-container{
    display: flex;
    column-gap: 20px;
    
}

.d1{
    font-size: 14px;
}

.d2{
    font-size: 16px;
}

.connectUs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 138.35px;
    width: 73.5px;
    position: absolute;
    left: 376px;
    top: 500px;
   
    

}

.connect-us{
    color: #353535;
    opacity: 0.8;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.icons-container{
    display: flex;
}


/* Form container */
.title-container{
    color: #090909;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.message-form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    margin-left: 100px;
    margin-top: 20px;
    row-gap: 30px;
}

.inputfields-container{
    display: flex;
    flex-direction: column;
}

.formy{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.title{
    display: flex;
    flex-direction: column;
    text-align: initial;
    font-size: 14px;
    row-gap: 4px;
}

.fillups{
    height: 40px;
    width: 425px;
    border-radius: 2px;
    background: #FFFFFF;
    border: 1px solid rgba(9, 9, 9, 0.3);
    box-shadow: none;
    box-sizing: border-box;
}

.message-fillups{
    height: 84px;
}

.message-fillups.placeholder{
    text-align: center;
}

.connect-button{
    background-color: #f5a023;
    color: #090909;
    border: none;
    height: 45px;
    width: 425px ;
    border-radius: 4px;
}


/* overall container */
.footer-copyright-container{
    background-color: #090909;
    display: flex;
    flex-direction: column;
}

/* footer container */
.Footer-container{
    /* background-color: #090909; */
    height: 401px;
    color: #f4f7fe ;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 66px 66px 6px 66px;
    row-gap: 20px;

}

.top-footer-container{
    display: flex;

}

.logo-social-media-container{
    display: flex;
    flex-direction: column;
}

.Logo-container{
    height:77px;
    width: 544px;
    margin-left: 10px;
    margin-bottom: 50px;
    background-color: #090909;
}

.baladi{
    height: 95px;
    width: 95px;
    background-color: #090909;
}

.socialMedia-container{
    display: flex;
    column-gap: 2px;
}

.links-title-container{
    color: #f4f7fe;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
}

.reachus-title-container{
    color: #f4f7fe;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
}


.copyright-container{
    /* border-top: 1px #f4f7fe ; */
    width: 1300px;
    /* background-color: #090909; */
    color: #f4f7fe;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}